In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.11)

In [2]:
!pip install jupysql

Requirement already satisfied: jupysql in /opt/conda/lib/python3.11/site-packages (0.11.1)
Requirement already satisfied: prettytable>=3.12.0 in /opt/conda/lib/python3.11/site-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (from jupysql) (2.0.22)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.11/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.11/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: sqlglot>=11.3.7 in /opt/conda/lib/python3.11/site-packages (from jupysql) (28.6.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /opt/conda/lib/python3.11/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /opt/conda/lib/python3.11/site-packages (from jupysql) (0.2.27)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog>=3.0 in /opt/conda/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (7.6.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable>=3.12.0->jupysql) (0.2.8)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.11/site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->jupysql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->jupysql) (3.0.0)
Requirement already satisfied: requests<3.0,>=2.7 in /opt/conda/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: python-dateutil>=2.2 in /opt/conda/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: backoff>=1.10.0 in /opt/conda/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /opt/conda/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2023.7.22)

In [3]:
%load_ext sql

In [4]:
%sql postgresql://root:root@pg-database:5432/ny_taxi

Connecting to 'postgresql://root:***@pg-database:5432/ny_taxi'

In [5]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False

In [6]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@pg-database:5432/ny_taxi')

query = "SELECT * FROM green_taxi_2025_11 LIMIT 5"

df = pd.read_sql(query, con=engine)

df

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,...,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00,0.0
1,1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,...,0.5,0.00,0.0,None,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,...,0.5,5.00,0.0,None,1.0,21.00,1.0,1.0,0.00,0.0
3,3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,...,0.5,0.50,0.0,None,1.0,27.70,1.0,1.0,0.00,0.0
4,4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,...,1.5,1.00,0.0,None,1.0,24.65,1.0,1.0,2.75,0.0

In [7]:
%%sql
SELECT COUNT(*)
FROM public."green_taxi_2025_11"
WHERE "trip_distance" <= 1.0
AND "lpep_pickup_datetime" >= '2025-11-01' 
AND "lpep_pickup_datetime" < '2025-12-01'

   count
0   8007

In [16]:
%%sql
SELECT CAST(lpep_dropoff_datetime AS DATE) AS dropoff_date, MAX(trip_distance) AS max_trip_dist
FROM public.green_taxi_2025_11
WHERE "trip_distance" < 100.0
GROUP BY dropoff_date
ORDER BY max_trip_dist DESC
limit 1

  dropoff_date  max_trip_dist
0   2025-11-14          88.03

In [21]:
%%sql
SELECT z."Zone", SUM(g."total_amount")
FROM public.green_taxi_2025_11 g
INNER JOIN taxi_zone_lookup z
ON g."PULocationID" = z."LocationID"
GROUP BY z."Zone"
ORDER BY SUM(g."total_amount") DESC
LIMIT 1

                Zone       sum
0  East Harlem North  257684.7

In [22]:
%%sql
SELECT zdo."Zone", MAX(g."tip_amount")
FROM green_taxi_2025_11 g
INNER JOIN taxi_zone_lookup zpu
ON g."PULocationID" = zpu."LocationID"
INNER JOIN taxi_zone_lookup zdo
ON g."DOLocationID" = zdo."LocationID"
WHERE zpu."Zone" = 'East Harlem North'
AND g."lpep_pickup_datetime" between '2025-11-01' and '2025-12-01'
GROUP BY zdo."Zone"
ORDER BY MAX(g."tip_amount") DESC
LIMIT 1

             Zone    max
0  Yorkville West  81.89